.icon-container-icon-container {
  position: relative;
}
 
.icon-container-icon1 {
  width: 16px;
  height: 16px;
  display: none;
}
 
.icon-container-icon3 {
  width: 16px;
  height: 16px;
}
 

 

 

 

 

 

 

 

 

